@import "tailwindcss";

@theme {
  --font-sans: var(--font-orbitron), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
}

:root {
  --font-geist-sans: Arial, Helvetica, sans-serif;
  --font-geist-mono: "SFMono-Regular", Consolas, "Liberation Mono", monospace;
  --font-orbitron: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

html,
body {
  font-family: var(--font-orbitron), var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
